body{
    background-color: rgb(246, 189, 57);
}
.h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    text-align: center;
}
.pintainho{
    display: block; 
    margin: 0px auto;
    width: 10%;
    height: 10%;
}
