body{
    background-color: rgb(56, 56, 56);
}
.h1s{
    color: aliceblue;
    text-align: center;
}
.capa1{
    text-align: center;
}
.cursos{
    text-align: center;
}
.voltar{
    text-align: center;
}
