@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: black;
}


h1 {
    
    font-family: "Playfair Display", "serif";
    font-size: 3em;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}